---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='Bundle' id='1-tvt' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: Bundle/1-tvt - Change History</h2>
  <p>History of changes for 1-tvt {{type | downcase}}.</p>

  {%include Bundle-1-tvt-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
