---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='ServiceRequest' id='2-pertussis' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: ServiceRequest/2-pertussis - Change History</h2>
  <p>History of changes for 2-pertussis {{type | downcase}}.</p>

  {%include ServiceRequest-2-pertussis-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
