---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='ServiceRequest' id='3-gyn' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: ServiceRequest/3-gyn - Change History</h2>
  <p>History of changes for 3-gyn {{type | downcase}}.</p>

  {%include ServiceRequest-3-gyn-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
