---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='Composition' id='5-biol-monit' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: Composition/5-biol-monit - Change History</h2>
  <p>History of changes for 5-biol-monit {{type | downcase}}.</p>

  {%include Composition-5-biol-monit-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
