---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='Specimen' id='urin' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: Specimen/urin - Change History</h2>
  <p>History of changes for urin {{type | downcase}}.</p>

  {%include Specimen-urin-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
