<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li>
    <a href="toc.html">Table of Contents</a>
  </li>
  <li>
    <a href="index.html">Home</a>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
      Use Case
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="usecase-english.html">Englisch</a>
      </li>
      <li>
        <a href="usecase-german.html">German</a>
      </li>
      <li>
        <a href="usecase-french.html">Français</a>
      </li>
    </ul>
  </li>

  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
      Questionnaire
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="Questionnaire-1-tvt.html">Tiefe Venenthrombose</a>
      </li>
      <li>
        <a href="Questionnaire-2-pertussis.html">Pertussis</a>
      </li>
      <li>
        <a href="Questionnaire-3-gyn.html">Gynäkologische Vorsorge</a>
      </li>
      <li>
        <a href="Questionnaire-4-sepsis.html">Sepsis</a>
      </li>
      <li>
        <a href="Questionnaire-5-biol-monit.html">Biologisches Monitoring</a>
      </li>
    </ul>
  </li>

  <li>
    <a href="profiles.html">Profiles</a>
  </li>
  <li>
    <a href="terminology.html">Terminology</a>
  </li>
  <li>
    <a href="artifacts.html">Artifacts</a>
  </li>
</ul>