<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li>
    <a href="toc.html">Table of Contents</a>
  </li>
  <li>
    <a href="index.html">Home</a>
  </li>

  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
      Use Cases
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="usecases-english.html">Englisch</a>
      </li>
      <li>
        <a href="usecases-german.html">German</a>
      </li>
      <li>
        <a href="usecases-french.html">Français</a>
      </li>
    </ul>
  </li>

  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
      Case Study Documents
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="case-studies-english.html">English</a>
      </li>
      <li>
        <a href="case-studies-german.html">German</a>
      </li>
      <li>
        <a href="case-studies-french.html">French</a>
      </li>
    </ul>
  </li>

  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Document<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="document-lo-sr.html">CH LAB-Order Document with Service Request</a>
      </li>
      <li>
        <a href="document-lo-sr-and-form.html">CH LAB-Order Document with Service Request and Form</a>
      </li>
    </ul>
  </li>

  <li>
    <a href="profiles.html">Profiles</a>
  </li>
  <li>
    <a href="terminology.html">Terminology</a>
  </li>
  <li>
    <a href="artifacts.html">Artifacts</a>
  </li>
</ul>