<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li>
    <a href="toc.html">Table of Contents</a>
  </li>
  <li>
    <a href="index.html">Home</a>
  </li>

  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
      Case Studies
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="casestudies-english.html">Englisch</a>
      </li>
      <li>
        <a href="casestudies-german.html">German</a>
      </li>
      <li>
        <a href="casestudies-french.html">Français</a>
      </li>
    </ul>
  </li>

  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
      Use Cases
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="usecases-english.html">Englisch</a>
      </li>
      <li>
        <a href="usecases-german.html">German</a>
      </li>
      <li>
        <a href="usecases-french.html">Français</a>
      </li>
    </ul>
  </li>

  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Questionnaire<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="Questionnaire-LabOrder-form.html">Specification</a>
      </li>
      <li>
        <a href="https://laborprojektgruppe.ch/questionnaire/">Form</a> <!-- questionnaire-form.html -->
      </li>
    </ul>
  </li>

  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
      Questionnaire Case Studies
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="Questionnaire-2-pertussis.html">Pertussis</a>
      </li>
      <li>
        <a href="Questionnaire-3-gyn.html">Gynäkologische Vorsorge</a>
      </li>
      <li>
        <a href="Questionnaire-4-sepsis.html">Sepsis</a>
      </li>
      <li>
        <a href="Questionnaire-5-biol-monit.html">Biologisches Monitoring</a>
      </li>
      <li>
        <a href="Questionnaire-6-histopath.html">Histopathologische Untersuchung</a>
      </li>
    </ul>
  </li>

  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Document<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="document-lo-by-form.html">Lab-Order Document by form</a>
      </li>
      <li>
        <a href="document-lo.html">Lab-Order Document by Service Request</a>
      </li>
    </ul>
  </li>

  <li>
    <a href="profiles.html">Profiles</a>
  </li>
  <li>
    <a href="terminology.html">Terminology</a>
  </li>
  <li>
    <a href="artifacts.html">Artifacts</a>
  </li>
</ul>